@page "/Products"
@using PCStore_Shared.Models.Product
@using PCStore_Shared.Models.Validation
@inject HttpClient Http

<MudText Class="mt-16 px-12">Products</MudText>
<MudContainer Class="mt-16 px-12" MaxWidth="MaxWidth.False">
    <MudGrid>

        @if (_productDtos.Count == 0)
        {
            <p><em>There are no items currently</em></p>
        }
        
        @foreach (var product in _productDtos)
        {
            <MudCard xs="12" sm="6" md="4">
                <MudCardHeader>Name: @product.ProductName</MudCardHeader>
                <MudCardContent>Price: $@product.ProductPrice</MudCardContent>
                <MudCardContent>Description: @product.ProductDescription</MudCardContent>
                
            </MudCard>

        }
    </MudGrid>
</MudContainer>


@code {

    private List<ProductDto> _productDtos = new List<ProductDto>();

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<ApiResponse<List<ProductDto>>>("api/Products");
        if (response != null && response.Success)
        {
            _productDtos = response.Data;
        }
    }

}