@page "/Register"
@using PCStore_Shared.Models.User
@using PCStore_Shared.Models.Validation
@using PCStore.Components.Services
@inject HttpClient Http
@inject JwtAuthStateProvider AuthStateProvider
@inject NavigationManager Navigation
@inject IJSRuntime JS


<MudContainer Class="mt-16 px-12">
    <EditForm Model="_model" OnValidSubmit="Submit">
        <DataAnnotationsValidator/>
        <h3>Login</h3>
        <MudGrid>
            <MudItem xs="12" sm="7">
                <MudCard>
                    <MudTextField Label="Username: " HelperText="Username" @bind-Value="_model.Username"></MudTextField>
                </MudCard>
                <MudCard>
                    <MudTextField Label="Email: " HelperText="Email" @bind-Value="_model.Email"></MudTextField>
                </MudCard>
                <MudCard>
                    <MudTextField Label="Password: " HelperText="Password" @bind-Value="_model.Password"></MudTextField>
                </MudCard>
                
                <MudCard>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
                </MudCard>
                <MudCard>
                    <MudText>@message</MudText>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
</MudContainer>

@code {
    private readonly UserRegisterDto _model = new();
    private string message;

    public async Task Submit()
    {
        message = null;
        try
        {
            var response = await Http.PostAsJsonAsync("api/account/register", _model);
            if (!response.IsSuccessStatusCode)
            {
                message = "Invalid username or password.";
                return;
            }

            var apiResponse = await response.Content.ReadFromJsonAsync<ApiResponseAccount<LoginResultDto>>();
            if (apiResponse == null || apiResponse.Data == null || string.IsNullOrEmpty(apiResponse.Data.Token))
            {
                message = "Unexpected response from server.";
                return;
            }


            // Store token and update authentication state
            await AuthStateProvider.MarkUserAsAuthenticated(apiResponse.Data.Token);

            // Navigate to dashboard
            Navigation.NavigateTo("/Dashboard");
        }
    
        catch (Exception ex)
        {
            message = $"Error: {ex.Message}";
        }
    }

}