@page "/Register"
@using PCStore_Shared.Models.User
@using PCStore.Components.Services
@inject AuthService Authservice


<MudContainer Class="mt-16 px-12">
    <EditForm Model="_model" OnValidSubmit="Submit">
        <DataAnnotationsValidator/>
        <h3>Login</h3>
        <MudGrid>
            <MudItem xs="12" sm="7">
                <MudCard>
                    <MudTextField Label="Username: " HelperText="Username" @bind-Value="_model.Username"></MudTextField>
                </MudCard>
                <MudCard>
                    <MudTextField Label="Email: " HelperText="Email" @bind-Value="_model.Email"></MudTextField>
                </MudCard>
                <MudCard>
                    <MudTextField Label="Password: " HelperText="Password" @bind-Value="_model.Password"></MudTextField>
                </MudCard>
                
                <MudCard>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto">Login</MudButton>
                </MudCard>
            </MudItem>
        </MudGrid>
    </EditForm>
</MudContainer>

@code {
    private readonly UserRegisterDto _model = new();

    public async Task Submit()
    {
        var result = await Authservice.RegisterAsync(_model);
        if (result.Success)
        {
        }
    }

}